/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    /* по умолчанию */
    height: 100%;
    line-height: 1;
    font-size: 25px;
    color: #ffffff; /* цвет по умолчанию  */
    font-weight: 600;
    font-family: Montserrat;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
}
.edit_pd_body {
    background-image: url("../resources/img/mainblock/MainBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
}

.header {
    /*position: absolute;*/
    /*width: 1519px;*/
    width: 100%;
    top: 0;
    z-index: 50;
    background: #464646;
    font-size: 25px;
    font-family: Montserrat;
}
.header__container {
    display: flex;
    margin-left: 8%;
    top: 0;
    min-height: 80px;
    align-items: center;
}
.header__icon {
    height: 68px;
    width: 61px;
    background-image: url("../resources/img/mainblock/shopping-bag.png");
    background-size: 100%;
}
.header__logo {
    margin: 0 0 0 24px;
    font-weight: 600;
    color: #ffffff;
    display: block;
}
.header__menu {
    margin: 0 0 0 285px; /* расстояние от лого до Home */
}
.header__menu__list {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}

.list__item_link {
    margin-left: 63px;
    color: #ffffff;
    font-weight: 600;
    /* line-height: calc(64 / 20 * 100%);/* H/размер шрифта */
}

.edit_pd_main_content {
    display: flex;
    margin-left: 8%;
    top: 0;
    align-items: center;
    font-size: 25px;
    font-family: Montserrat;
}

/*-------------------------------------------------*/

.photo_editing {
    margin-top: 50px;
}

.user_photo {
    width: 480px;
    height: 480px;
    background-image: url(../resources/img/mainblock/no_avatar.webp);
}
/*
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: "Загрузить фото";
    display: inline-block;
    background: #ffffff;
    color: #000000;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.02, 1.02);
    box-shadow: rgba(203, 203, 203) 0 0 16px 2px;
}
*/
.user_photo_button_form {
    margin-top: 20px;
}
.user_photo_button_form_input {
    font-size: 25px;
    font-family: Montserrat;
}

/*-------------------------------------------------*/

.data_editing {
    margin-left: auto; /*%*/
    margin-right: 200px;
    text-align: right;
}

.pd_form_username,
.pd_form_phone,
.pd_form_email,
.pd_form_address {
    
    width: 365px;
    height: 39px;
    font-size: 25px;
    font-family: Montserrat;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
}

.pd_form_button_save{

    transition: all 0.3s ease-out;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;

    font-family: "Montserrat";
    font-style: normal;
    font-size: 26px;
    font-weight: 500;

    padding: 8px 57px;
    box-sizing: content-box;

    display: flex;
    align-items: center;
    text-align: center;
    
    margin-left: auto;
    margin-right: 55px;
}

.pd_form_button_save:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.02, 1.02);
    box-shadow: rgb(195, 99, 147) 0 0 16px 2px;
}
