/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;

}
html,
body {/* по умолчанию */
/
height: 100%;
  line-height: 1;
  font-size: 25px;
  border: 1px black solid;
  color: #FFFFFF;/* цвет по умолчанию  */
  font-weight: 600;
  font-family: Montserrat;
  height: 100%;
  margin: auto;
  overflow-x:hidden;

}
.wrapper {

  /*	min-height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      position: absolute;*/

}
._ibg {
  position: relative;
}
._ibg img {
  display: flex;
  top: 0;
  left: 0;
  background-size: cover;
}
/* ---------------------------------------------------------------------------- */
.header{
  position: absolute;
  width: 1519px;
  left: 0;
  top: 0;
  z-index: 50;
  background: #464646;
  font-size: 25px;
  font-family: Montserrat;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
}
.header__icon{
  /*margin-left: 120px;*/
  /*	margin: 0 0 0 120px;*/
  height: 68px;
  display: flex;
}
.header__logo {
  margin: 0 0 0 24px;
  font-weight: 600;
  color: #FFFFFF;
}
.header__menu {
  margin: 0 0 0 285px;/* расстояние от лого до Home */
}
.header__menu__list {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
}
/* .list__item:not(:last-child) {
	margin: 0px 63px 0px 0px;
} */
.list__item_link {
  margin-left: 63px;
  color:#FFFFFF;
  font-weight: 600;
  /* line-height: calc(64 / 20 * 100%);/* H/размер шрифта */
}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
.page {
  min-height: 850px;
  position: relative;/*
  border: 1px solid black; */
}
.page__container {
  position: relative;/*
  border: 1px solid red; */
}
.page__container__title {
  padding: 240px 0px 232px 0px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  max-width: 680px;
  color: rgba(91, 94, 91, 1);
}
.title {
}
.title_title {
  text-align: right;
  font-family: Oswald;
  font-size: 177px;
  font-weight: 500;
}
.title_subtitle {
  text-align: right;
  margin:36px 0px 0px 0px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.page__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* ---------------------------------------------------------------------------- */
.direction {
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color:#B09193;
  /* min-height: 722px; */
}
.direction__text {
  /*  padding: 0px 0px 0px 759px; */
  /*  margin-left: 100; */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.direction__image {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  /*   min-width: 50%; */
  min-height: 800px;
  min-width: 50%;
  background-image: url('../resources/img/mainblock/mainBackground2.jpg') ;
  background-size: cover;
}
.direction__text__container {
  padding: 50px 0px 0px 20px;
  margin:0px 0px 0px 150px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  max-width:580px;
}
.info {
  font-family: Montserrat;
  font-weight: 500;
  text-align: center;
}
.info_title {
  font-size: 40px;
}
.info_p {
  line-height: calc(40 / 26 * 100%);
  padding:53px 0px 0px 0px;
  font-size:26px;
}
/* ---------------------------------------------------------------------------- */
.end {
  min-height: 872px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #BDD079;
}
.end__image {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 50%;
  min-height: 872px;
  /* right: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
  min-width: 50%; */
  background-image: url('../resources/img/mainblock/mainBackground3.png') ;
  background-size: cover;
}
.end__text {

}
.end__text__container {
  padding: 102px 0px 127px 0px;
  margin-left:160px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  max-width: 517px;
  font-size: 26px;
  font-weight: 500;
  background-color: #BDD079;
}
.end__text_text {
}
.text {
  font-family: Montserrat;
  font-weight: 500;
}
.text_p {
  color:#464646;
  text-align: center;
  line-height: calc(40 / 26 * 100%);
  padding:53px 0px 0px 0px;
  font-size:26px;
}
.end__text__join {
}
.join {
  margin: 106px 0px 127px 79px;
  padding: 28px 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid #D28635;
  background-color:#D28635 ;
  border-radius: 10px;
}
.join_element {
  font-size: 29px;
  font-weight: 500;
  line-height: calc(40 / 26 * 100%);
}
.end__image {
}

.form_button {
  /*display: inline-block;
  padding: 12px 32px;*/
  /* margin-top: 76px; */
  transition: all 0.3s ease-out;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #D28635;
  background-clip: border-box;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 60px;
  padding: 10px 34px;
  box-sizing: content-box;

  position: absolute;
  /*  width: 285px;
   height: 60px;
   left: 69px;
   top: 438px; */
  top:517px;
  width: 355px;
  margin-top:100px;
  margin-left: 40px;/*
  margin-left: 213px; */

  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.form_button:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.02, 1.02);
  box-shadow: rgba(203, 203, 203) 0 0 16px 2px;
}