/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	
}
html,
body {/* по умолчанию */
	height: 100%;
	line-height: 1;
	/* background: #464646; */
	font-size: 25px;
	color: #FFFFFF;/* цвет по умолчанию  */
	font-weight: 600;
	font-family: Montserrat; /* шрифт по умолчанию */
	/*background: #464646;*/
	background-image: url("src/resources/img/mainblock/pattern-4232865.png") ;
	background-size: cover;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ---------------------------------------------------------------------------- */
.header{
    position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
    background: #464646;
}
.header__container {
	display: flex;
	min-height: 80px;
	align-items: center;
}
.header__icon{
	margin: 0 0 0 120px;
	height: 68px;
	display: flex;
}
.header__logo {
	margin: 0 0 0 24px;
	font-weight: 600;
	color: #FFFFFF;
}
.header__menu {
	margin: 0 0 0 463px;/* расстояние от лого до Home */
}
.header__menu__list {
    display: flex;
    flex-wrap: wrap;
	color: #FFFFFF;
}
/* .list__item:not(:last-child) {
	margin: 0px 63px 0px 0px;
} */
.list__item_link {
	margin-left: 63px;
    color:#FFFFFF;
	font-weight: 600;
	/* line-height: calc(64 / 20 * 100%);/* H/размер шрифта */
}
/* ---------------------------------------------------------------------------- */
.catalog_page {

    position: relative;
}
.catalog_page__container {
	border: 1px solid darkred;
	padding: 131px 0px 0px 0px;
    margin:0px 0px 121px 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    /*max-width: 364px;*/
	font-size: 40px;
	font-weight: 700;
	color: #FFFFFF;
}
.catalog_page__container_title {
	margin-left: 741px;
	position: relative;/*
	border: 1px solid black;*/
	display: flex;
    flex-wrap: wrap;
    /*margin: auto;*/
}
.catalog_page__user__container{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	margin-top: 45px ;/*
	border: 1px solid black;*/
	min-width: 240px;/*
	min-height: 900px;*/
	margin-left:120px ;
}
.catalog_page_user_photo{
	min-width: 240px;
	min-height: 240px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	background-image: url('src/resources/img/mainblock/Rectangle 46.png') ;
	background-size: cover;

}

.catalog_page_user_data__list{/*
	border: 1px solid black;*/
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	padding-top: 241px ;
	font-size: 26px;
	font-weight: 600;
}

.user_data__list_item{
	margin-top: 26px;
	font-family: Montserrat;
}
.catalog_page_user_buttons{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	padding-top: 500px;
	font-size: 20px;
	color: black;
	font-weight: 600;
	
}
.user_buttons_item1{
	margin-top: 26px;
	transition: all 0.3s ease-out;
	border: none;
	border-radius: 10px;
	outline: none;
	background-color:  #FFFFFF;
	background-clip: border-box;
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 85px;
}
.user_buttons_item2{
	margin-top: 129px;
	transition: all 0.3s ease-out;
	border: none;
	border-radius: 10px;
	outline: none;
	background-color: #FFFFFF;
	background-clip: border-box;
	position: absolute;
	align-items: center;
	justify-content: center;/*
	padding: 10px 34px;*/
	width: 240px;
	height: 85px;
}
.user_buttons_item3{
	margin-top: 237px;
	transition: all 0.3s ease-out;
	border: none;
	border-radius: 10px;
	outline: none;
	background-color: #FFFFFF;
	background-clip: border-box;
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 85px;
}
.catalog_page_user_posts{/*
	border: 1px solid black;*/
	margin-left: 419px;
	margin-right:120px;
	margin-top: -68px;
}
.user_posts_item{
	width: 220px;
	height: 251px;
	background: #FFFFFF;
	border: none;
	border-radius: 10px;
	margin-left: 25px;
}
.user_posts_item_photo{
    /*padding: 11px 0px 0px 11px;*/
	margin: 11px 0px 0px 11px;
	min-width: 198px;
	min-height: 180px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	background-image: url('src/resources/img/mainblock/продукт.jpg') ;
	background-size: cover;
}
.user_posts_item{
	border: 1px solid black;
	font-weight: 500;
	font-size: 10px;
    color: black;
}
.user_posts_item_name{
	margin-top: 200px;
}
.text__background {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}